# VS Code
.vscode/

# Logs
logs/
reports/
backup/
*.log

# PowerShell
*.ps1xml

# Windows
Thumbs.db
Desktop.ini

# Temp
*.tmp
*.bak

# Zip releases
*.zip

# Pester
TestResults/



# Local ProfMig test data
TestData/

# Generated runtime packages
dist/
